turbo-stream action="morph" target="board-root"
  template
    .kb-board data-board-target="root"
      - presenter.columns.each do |col|
        = render partial: "board/column", formats: [:html], locals: { column: col }
